.header-page {
  background-color: var(--color-primary-800);
  color: var(--color-light-000);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7rem;
  position: fixed;
  z-index: 1000;
  top: 0;

  & img {
    width: 18rem;
    margin: 0.5rem 2rem 1.4rem;
  }

  & nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      white-space: nowrap;

      & li {
        margin: 0 1.6rem;
        font-size: 1.8rem;
        font-weight: 300;

        & a {
          color: var(--color-light-000);
          z-index: 1;
        }
      }
    }
  }
}

.buttons-container {
  display: flex;
  align-items: center;
}

.buttons-container button {
  padding: 0.8rem 1.8rem;
  margin-right: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  white-space: nowrap;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-radius: 0.2rem;

  & i {
    color: var(--color-light-000);
  }
}

.login-btn {
  background-color: var(--color-primary-400);
}

.login-btn:hover {
  background-color: var(--color-primary-200);
}

.cadastro-btn {
  background-color: var(--color-secondary-800);
}

.cadastro-btn:hover,
.cadastro-btn:focus {
  background-color: var(--color-secondary-600);
}

.link-text {
  color: var(--color-light-000);
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 5.05rem;
  background-color: var(--color-secondary-800);
  min-width: 11.701rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--color-light-000);
  padding: .8rem 1.6rem;
  text-decoration: none;
  display: block;
  font-size: 1.6rem;
}

.dropdown-content a:hover {
  background-color: var(--color-secondary-600);
}

.show {
  display: block;
}

/*************** BANNER SECTION ***************/

.hero-section {
  background-image: url("../assets/images/taylor-grote-UiVe5QvOhao-unsplash.jpg");
  background-size: cover;
  background-position: top center;
  height: 70vh;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin: 0.8rem 0;
}

.hero-content h1 {
  font-size: 4.2rem;
  margin: 12rem 14rem 6rem 14rem;
  font-family: "Archivo Black", sans-serif;
  line-height: 6rem;
  letter-spacing: 0.4;
  font-weight: 500;
  color: var(--color-light-000);
}

.hero-content button {
  background-color: var(--color-primary-800);
  border-radius: 0.2rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin: 0 14rem;

  &:hover {
    background-color: var(--color-primary-600);
  }

  & a {
    color: var(--color-primary-100);
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 1.1;
    text-decoration: none;
    padding: 1rem;
  }
}

/************* MISSION SECTION ***************/
.mission-section {
  width: 100%;
  background-color: var(--color-light-000);
}

.mission-container {
  display: flex;
  width: 100%;
}

.mission-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 8rem;

  & h2 {
    color: var(--color-primary-800);
    margin-bottom: 2rem;
  }

  & h3 {
    color: var(--color-secondary-800);
  }

  & p {
    font-size: 2.2rem;
    padding: 1.2rem 0;
    margin-bottom: 3rem;
    line-height: 2.8rem;
  }
}

.mission-button a {
  padding: 1rem 3rem;
  border-radius: 0.4rem;
  background-color: var(--color-primary-800);
  color: var(--color-light-000);
  font-size: 1.8rem;

  &:hover {
    background-color: var(--color-primary-400);
    font-weight: 400;
  }
}

.img-container {
  width: 50%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*SERVICES*/
.services-section {
  width: 100%;
}

.services-container {
  display: flex;
  width: 100%;
  height: auto;
  padding: 8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;

  & h2 {
    color: var(--color-secondary-600);
  }

  & h3 {
    color: var(--color-light-000);
    text-align: center;
  }
}

.cards-services {
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  flex-wrap: wrap;
}

.card-service {
  background-color: var(--color-light-200);
  border-radius: 0.8rem;
  display: flex;
  width: 24rem;
  height: 26rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  padding: 3.2rem 2.4rem 3.2rem 2.4rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  & h4 {
    font-size: 2.2rem;
    font-weight: 900;
    text-transform: capitalize;
  }

  & p {
    font-size: 1.6rem;
  }
}

/**************** VAGAS-SECTION ****************/
.vagas-section {
  width: 100%;
  background-image: url(../assets/images/vagasdestaque.png);
  background-size: cover;
  background-position: bottom;
  border-radius: 6rem;
}

.vagas-container {
  display: flex;
  width: 100%;
  height: auto;
  padding: 8rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;

  & h2 {
    color: var(--color-primary-600);
    text-align: center;
  }

  & .subtitle-btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h3 {
      color: var(--color-secondary-800);
      text-align: center;
    }

    & button {
      padding: 0.8rem 2rem;
      border-radius: 0.2rem;
      background-color: var(--color-secondary-800);
      color: var(--color-light-000);
      font-size: 1.8rem;

      &:hover {
        background-color: var(--color-secondary-600);
        font-weight: 400;
        cursor: pointer;
      }
    }
  }
}

.cards-vagas {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  padding: 1.6rem 0;
}

.card-vaga {
  background-color: var(--color-primary-100);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3.4rem;
  width: 32rem;
  height: 32em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  & h4 {
    color: var(--color-primary-800);
    font-weight: 800;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
  }

  & p {
    color: var(--color-dark-800);
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }

  & a {
    color: var(--color-primary-400);
    text-decoration: none;
    font-weight: 800;
    font-size: 1.6rem;
  }
}

/************** NEWS-SECTION com uma div que tera um h2 + form (2inputs e 1 text area) + um button**************/
.news-section {
  width: 100%;
}

.news-container {
  display: flex;
  width: 100%;
  height: auto;
  padding: 6rem 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  & h2 {
    color: var(--color-primary-100);
    font-size: 3.6rem;
    text-align: center;
    text-transform: capitalize;
  }

  & button {
    padding: 0.8rem 2rem;
    border-radius: 0.4rem;
    background-color: var(--color-secondary-800);
    color: var(--color-light-000);
    font-size: 1.8rem;

    &:hover {
      background-color: var(--color-secondary-600);
      font-weight: 400;
      cursor: pointer;
    }
  }
}

.news-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
  max-width: 500px;

  & label {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: -1rem;
    color: var(--color-light-200);
    font-weight: 300;
  }

  & input,
  & textarea {
    width: 100%;
    padding: 0.6rem 2rem;
    border-radius: 0.4rem;
    border: none;
    font-size: 1.6rem;
    resize: none;
  }
}

/**************** FOOTER ****************/

.footer-section {
  height: auto;
  background-color: var(--color-secondary-800);
  color: var(--color-light-000);
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 2rem;
  align-items: center;
}

.logo-basica p {
  font-size: 2rem;
  font-weight: 800;
}

.footer-content ul {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0;

  & li {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0 2rem;

    & a {
      color: var(--color-light-000);
      text-decoration: none;
    }

    & a:hover {
      font-weight: 600;
    }
  }
}

/************* QUERY-MEDIAS ***************/

@media (max-width: 890px) {
  .cadastro-btn,
  .login-btn {
    visibility: hidden;
  }
}

@media (max-width: 700px) {
  .menu-item a {
    font-size: 1.4rem;
    padding: 0rem;
  }
}

@media (max-width: 600px) {
  .header-page {
    height: 10rem;
    justify-content: space-between;
    gap: 5rem;

    & nav {
      display: flex;
      align-items: center;

      & ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        line-height: 2rem;
      }
    }
  }
}
