.container-login {
  background-image: url(../assets/images/bg-login.png);
  background-size: cover;
  display: flex;
  width: 100%;
  height: 100vh;
}

.content-logo-text {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & img {
    width: 32rem;
    height: auto;
    margin: 8rem 10rem;
  }

  & h1 {
    font-size: 3rem;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    line-height: 4.2rem;
    color: var(--color-light-000);
    text-align: start;
    width: 100%;
    display: flex;
    text-wrap: wrap;
    padding: 20rem 10rem;
  }
}
/*Lado direito com o formulário*/
.content-box {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  margin: auto;
}

.form-box {
  background-color: var(--color-light-000);
  border-radius: 0.8rem;
  width: 80%;
  height: 62rem;
  padding: 6rem;
  margin: 1rem auto;
}

.form-box h2 {
  color: var(--color-primary--800);
  font-weight: 600;
  font-size: 2.2em;
  letter-spacing: 1.4;
  margin-bottom: 1.4rem;
  text-align: center;
}

.input-box {
  margin-bottom: 2rem;
}

.input-box input {
  width: 100%;
  padding: 1rem;
  outline: none;
  font-weight: 400;
  border: none;
  font-size: 1.7rem;
  border: 0.1rem solid var(--color-dark-800);
  border-radius: 0.4rem;
}

.input-box label {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  color: var(--color-dark-800);
  font-weight: 500;
}

.input-box input::placeholder {
  color: var(--color-dark-400);
}

  .password-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .password-container input {
    width: 100%;
    padding-right: 2.5rem;
  }
  
  .password-container i {
    position: absolute;
    right: 1.2rem;
    top: 1.7rem;
    cursor: pointer;
    color: var(--color-dark-400);
    font-size: 1.6rem;
  }
  
  .password-container i:hover {
    color: var(--color-dark-600);
  }

.input-box .btn-login {
  width: 100%;
  background: var(--color-primary-800);
  color: var(--color-light-000);
  font-weight: 500;
  cursor: pointer;
  font-size: 1.6rem;
  transition: 0.3s;
  padding: 1rem;
  border-radius: 0.4rem;
}

.btn-login:hover {
  background: var(--color-primary-400);
}

.remember {
  margin-bottom: 2rem;
  color: var(--color-dark-800);
  font-weight: 400;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.remember a,
.new-user a {
  text-decoration: none;
  color: var(--color-dark-800);
  cursor: pointer;
}

.remember a:hover,
.new-user a:hover {
  transition: none;
  color: var(--color-primary-400);
}

.new-user {
  width: 100%;

  & p {
    font-size: 1.6rem;
    text-align: center;
  }
}

/* Outros tipos de login */

.log-options {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 3rem 0 6rem 0;
}

.divider {
  border: none;
  border-top: 0.1rem solid var(--color-dark-200);
  margin: 1rem 0;
}

.login-text {
  display: block;
  margin-bottom: 1.4rem;
  color: var(--color-dark-600);
  font-size: 1.5rem;
}

.login-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.login-btn {
  border: 0.1rem solid var(--color-dark-400);
  border-radius: 0.4rem;
  padding: 0.6rem 0.6rem 0.6rem 0.6rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  font-size: 1.4rem;
  background-color: var(--color-light-000);
  transition: background-color 0.3s ease;
}

.login-btn svg {
  width: 2.4rem;
  height: 2.4rem;
}

.login-btn:hover {
  background-color: #ebeef3;
}

/* Responsiveness */
@media (max-width: 1025px) {
  .box-frase h1 {
    font-size: 2.6rem;
    line-height: 3.8rem;
  }
  .log-options {
    margin: 2rem 0 4rem 0;
  }
}

@media (max-width: 1430px) {
  .content-box {
    width: 60%;
    margin: auto;
  }
  .form-box {
    padding: 3rem;
  }
}

@media (max-width: 850px) {
  .container-login {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .content-logo-text {
    width: 80%;
    height: 15vh;
    display: flex;
    flex-direction: column;

    & img {
      width: 28rem;
      height: auto;
      margin: 4rem auto;
    }

    & h1 {
      font-size: 2rem;
      line-height: 3rem;
      text-align: center;
      width: 100%;
      display: flex;
      text-wrap: wrap;
      padding: 0rem 1rem;
    }
  }
}
